In [1]:
msg = ["Shaw likes to play cricket", "Mary likes to play tennis", "John likes to play volleyball or cricket", "Heena likes to play tennis or throwball"]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import pandas as pd
vec = CountVectorizer()
bag = vec.fit_transform(msg).toarray()
print(vec.get_feature_names_out())
df = pd.DataFrame(bag, columns=vec.get_feature_names_out())
df

['cricket' 'heena' 'john' 'likes' 'mary' 'or' 'play' 'shaw' 'tennis'
 'throwball' 'to' 'volleyball']

,cricket,heena,john,likes,mary,or,play,shaw,tennis,throwball,to,volleyball
0,1,0,0,1,0,0,1,1,0,0,1,0
1,0,0,0,1,1,0,1,0,1,0,1,0
2,1,0,1,1,0,1,1,0,0,0,1,1
3,0,1,0,1,0,1,1,0,1,1,1,0

## Tf-IDF

In [13]:
vec = TfidfVectorizer()
bag = vec.fit_transform(msg).toarray()
print(vec.get_feature_names_out())
df = pd.DataFrame(bag, columns=vec.get_feature_names_out())
df

['cricket' 'heena' 'john' 'likes' 'mary' 'or' 'play' 'shaw' 'tennis'
 'throwball' 'to' 'volleyball']

,cricket,heena,john,likes,mary,or,play,shaw,tennis,throwball,to,volleyball
0,0.504879,0.000000,0.000000,0.334174,0.000000,0.000000,0.334174,0.640375,0.000000,0.000000,0.334174,0.000000
1,0.000000,0.000000,0.000000,0.334174,0.640375,0.000000,0.334174,0.000000,0.504879,0.000000,0.334174,0.000000
2,0.391275,0.000000,0.496283,0.258981,0.000000,0.391275,0.258981,0.000000,0.000000,0.000000,0.258981,0.496283
3,0.000000,0.496283,0.000000,0.258981,0.000000,0.391275,0.258981,0.000000,0.391275,0.496283,0.258981,0.000000

## Word2Vec

In [16]:
from nltk.tokenize import word_tokenize
with open('word2vec.txt') as f:
  text = f.readlines()
text[0]

'With Bag of Words and TF-IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification, sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words.\n'

In [21]:
import re
for i in range(len(text)):
  text[i] = re.sub("[^a-zA-Z]", ' ', text[i])
print("Number of sentences: ", len(text))
print("First Sentence from the text file: \n", text[0])

Number of sentences:  11
First Sentence from the text file:
 With Bag of Words and TF IDF text vectorization techniques we did not get semantic meaning of words But for most of the applications of NLP tasks like sentiment classification  sarcasm detection etc require semantic meaning of a word and semantic relationships of a word with other words

In [23]:
import nltk
nltk.download('punkt')
token = []
for i in text:
  token.append(word_tokenize(i))
token[0]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\nihal\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['With',
 'Bag',
 'of',
 'Words',
 'and',
 'TF',
 'IDF',
 'text',
 'vectorization',
 'techniques',
 'we',
 'did',
 'not',
 'get',
 'semantic',
 'meaning',
 'of',
 'words',
 'But',
 'for',
 'most',
 'of',
 'the',
 'applications',
 'of',
 'NLP',
 'tasks',
 'like',
 'sentiment',
 'classification',
 'sarcasm',
 'detection',
 'etc',
 'require',
 'semantic',
 'meaning',
 'of',
 'a',
 'word',
 'and',
 'semantic',
 'relationships',
 'of',
 'a',
 'word',
 'with',
 'other',
 'words']

In [19]:
from gensim.models import Word2Vec
cbow = Word2Vec(sentences = token, min_count=2, vector_size = 2)
words = cbow.wv.index_to_key
words

['of',
 'and',
 'words',
 'a',
 'vector',
 'the',
 'word',
 'space',
 'Word',
 'in',
 'semantic',
 'context',
 'method',
 'gram',
 'to',
 'vec',
 'skip',
 'as',
 'are',
 'we',
 'meaning',
 'for',
 'most',
 'center',
 'be',
 'input',
 'relationships',
 'with',
 'other',
 'corpus',
 'embeddings',
 'well',
 'size',
 'is']

In [20]:
print('Total Words: ', len(words))
cbow.wv.__getitem__('and')

Total Words:  34

array([0.255022, 0.450747], dtype=float32)